{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to your account...</p>
        </div>
    </div>
</header>

<!-- Login Form Section -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h3 class="text-center mb-4">Login</h3>
                <form method="POST", action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="username" class="form-control" name="username" placeholder="Enter your Username">

                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    <br/><br/>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}